---
layout: global
title: (define *life* _)
---
<ul class="article-list">
  {% for post in site.posts %}
  <li>
    <section>
      <header>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <p class="post-meta">
          <time>Time: {{ post.date | date_to_string }}</time>
          &nbsp;&nbsp;&nbsp;Tags:
          {% for tag in post.categories %}
          <a href="{{ site.baseurl }}/category.html#{{ tag }}" class="post-tag">{{ tag }}</a>
          {% endfor %}
        </p>
      </header>
      <p class="excerpt">{{ post.excerpt }}</p>
    </section>
  </li>
  {% endfor %}
</ul>
