---
layout: global
title: Cherish What You Have Gotten
---
<ul>
  {% for post in site.posts %}
  <li>
    <section>
      <header>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <p class="post-meta">
          <time>Time: {{ post.date | date_to_string }}</time>
          &nbsp;&nbsp;&nbsp;Tags:
          <!-- {% for tag in post.tags %} -->
          <!-- <a href="" class="post-tag">{{ tag }}</a> -->
          <!-- {% endfor %} -->
        </p>
      </header>
      <p class="excerpt">{{ post.excerpt }}</p>
    </section>
  </li>
  {% endfor %}
</ul>
